**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.editorconfig
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.env*
**/*.jfm
**/*.md
**/*.py#
**/*.py~
**/*.pyc
**/azds.yaml
**/bin
**/charts
**/compose*
**/credentials.ini*
**/csv
**/docker-compose*
**/Dockerfile*
**/img
**/obj
**/secrets.dev.yaml
**/terraform
**/values.dev.yaml
