acme==2.8.0 ; python_version >= "3.11" and python_version < "3.13"
beautifulsoup4==4.12.3 ; python_version >= "3.11" and python_version < "3.13"
certbot==2.8.0 ; python_version >= "3.11" and python_version < "3.13"
certifi==2024.2.2 ; python_version >= "3.11" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
configargparse==1.7 ; python_version >= "3.11" and python_version < "3.13"
configobj==5.0.8 ; python_version >= "3.11" and python_version < "3.13"
cryptography==42.0.2 ; python_version >= "3.11" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.11" and python_version < "3.13"
dns-lexicon==3.17.0 ; python_version >= "3.11" and python_version < "3.13"
dnspython==2.5.0 ; python_version >= "3.11" and python_version < "3.13"
filelock==3.13.1 ; python_version >= "3.11" and python_version < "3.13"
idna==3.6 ; python_version >= "3.11" and python_version < "3.13"
josepy==1.14.0 ; python_version >= "3.11" and python_version < "3.13"
parsedatetime==2.6 ; python_version >= "3.11" and python_version < "3.13"
pycparser==2.21 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "PyPy"
pyopenssl==24.0.0 ; python_version >= "3.11" and python_version < "3.13"
pyotp==2.9.0 ; python_version >= "3.11" and python_version < "3.13"
pyrfc3339==1.1 ; python_version >= "3.11" and python_version < "3.13"
pytz==2024.1 ; python_version >= "3.11" and python_version < "3.13"
pywin32==306 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.13"
requests-file==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.13"
setuptools==69.0.3 ; python_version >= "3.11" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "3.13"
tldextract==5.1.1 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.2.0 ; python_version >= "3.11" and python_version < "3.13"
